/******************************************
CSS
*/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
LAYOUT

first set up general layout styles
*/


header, main, footer {
  font-family: 'Lora', serif;
}


.divider{
  width: 50%;
  border: 1.5px solid rgba(95, 54, 54, 0.767);
  border-radius: 3px;
  margin: auto;
}

*{
  text-align: center;
}

/*set up root font size, fix wierd white space at the top and bottom*/
html{
  font-size: 16px;
  background-color: rgb(95, 54, 54);
}


li {
  width: 50%;
  /*margin on left set at 23% because I could not figure out how to align li's centrally*/
  margin: 0 25% 0 23%;
  list-style: none;
}


/*header and footer are essentially mirrored*/
header, footer{
  height: 140px;
  background-color: rgb(95, 54, 54);
}

main{
  background-color: rgb(233, 222, 183);
  color: rgb(78, 42, 42);
}

p{
  width: 550px;
  margin: 20px auto;
}


/*text with .underlined class gets underlined*/
.underlined{
  text-decoration: underline;
  margin-bottom: 5px;
}

ul{
  margin-top: 5px;
}


/*Header*/
header{
  color: rgb(232, 225, 193);
}

h1{
  color: rgb(232, 225, 193);
  text-decoration: underline;
  height: 50px;
  margin: 35px 0 10px 0;
  padding-top: 5px;
  font-size: 2.25rem;
}

header span{
  font-size: 1.15rem;
  padding-top: 0px;
  margin-top: 5px;
}


/*Intro section*/
.intro{
  height: 400px;
  padding: 50px 0;
}

h2{
  font-size: 1.7em ;

}




/*Contact section*/
a{
  color: rgb(26, 41, 117);
}

a:hover{
  color: rgb(66, 12, 12);
}

.contactMe {
  height: 200px;
  padding: 8px 0;
}

